*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
    font-family: 'Inter';
    font-weight: 400;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 40px 40px 15px 40px;
    background: #F3F5FC;
}

li {
    list-style-type: none;
}

.header {
    display: flex;
}

.header h1 {
    color: #0A3871;
    margin: 0 auto 0 50px;
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* display: none; */
}

.new_word {
    display: flex;
    flex-direction: column;
    display: none;
    padding: 20px 20px;
    background: white;
    border-radius: 10px;
    border: 1px solid #dcdcdc;
}

.new_game {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

.endMessage {
    position: absolute;
    top: 30%;
    font-size: 80px;
    background: #0a3871d9;
    font-family: cursive;
    text-shadow: -1px 1px 4px black;
    padding: 5px 20px;
    border-radius: 5px;
    white-space: nowrap;
    line-height: 120%;
    pointer-events: none;
    display: none;
    box-shadow: 0 0 0 30px transparent;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    50% {
        transform: scale(1.01);
    }

    from {
        box-shadow: 0 0 0 0;
        /* box-shadow: 0 0 0 0 #0A3871; */
    }
}

.container_canvas {
    margin-bottom: 10px;
}

#canvas {
    margin-bottom: 20px;
    pointer-events: none;
}

.game_info {
    box-shadow: 0px 0px 1px 2px #0a3871;
    border-radius: 5px;
    padding: 10px;
}

.wrong_letters_container {
    display: flex;
    gap: 2px;
    align-items: center;
}

.bracket {
    font-size: 40px;
    font-weight: bold;
    color: #ad0d0d;
}

.correct_word {
    display: none;
}

.letters {
    display: flex;
    height: 80px;
    gap: 25px;
    align-items: flex-end;
    justify-content: center;
}

.letter_container {
    display: flex;
    flex-direction: column;
}

.letter {
    font-size: 60px;
    text-align: center;
}

.letter_dash {
    margin: 0 auto;
    height: 5px;
    width: 80px;
    border-radius: 25px;
    background-color: #0A3871;
}

.new_word_title {
    margin-bottom: 20px;
    color: #0a3871;
    font-size: 26px;
    font-weight: 600;
    text-align: center;
}

.new_word_title :last-child {
    margin-top: 10px;
}

#newWord {
    text-transform: uppercase;
    padding: 0 10px;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
    color: #0A3871;
    outline: none;
    background: transparent;
    border: 2px solid #0A3871;
    border-radius: 25px;
}

.new_word_added {
    margin-top: 10px;
    font-size: 18px;
    color: #0A3871;
    font-weight: 700;
    display: none;
}

.expand {
    animation: expand linear 0.5s;
}

@keyframes expand {
    50% {
        transform: scale(1.05)
    }
}

.input_error {
    border: 2px solid red !important;
}

.input_correct {
    border: 2px solid green !important;
}

button {
    padding-top: 21px;
    padding-bottom: 21px;
    min-width: 250px;
    font-size: 18px;
    line-height: 19px;
    border-radius: 20px;
    border: 1px solid #0A3871;
    cursor: pointer;
    margin: 10px;
    transition: 150ms;
    transform: scale(1);
}

button:hover {
    background-color: #0A3871;
    color: white;
    box-shadow: 0 0 5px 1px #0A3871;
    transition: 150ms;
    transform: scale(1.05);
}

.show_keyboard {
    display: none;
}

#showKeyboard {
    background-color: #276cc0;
    color: white;
    border: 1px solid #606060;
    padding: 8px;
    min-width: 30px;
}

.buttons_container {
    display: flex;
    gap: 30px;
    margin-top: 15px;
    justify-content: center;
}

.buttons_section {
    margin-top: 15px;
}

.warning_error {
    color: red;
    font-size: 18px;
    margin: 10px 0 0px;
    display: none;
}

.warning_container {
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer_hr {
    max-width: 1400px;
    margin: 15px auto 0;
    border-radius: 50%;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px auto 0;
    color: #7a7e81;
    font-size: 16px;
}

.footer {
    margin-top: 25px;
}

.links {
    display: flex;
    list-style: none;
    gap: 15px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(128, 128, 128, 0.5);
    z-index: 98;
    display: none;
}

.modal {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 0 auto;
    z-index: 99;
    width: 700px;
    background-color: white;
    border-radius: 25px;
    border: 1px solid #dcdcdc;
    padding: 80px 0;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #0A3871;
    align-items: center;
    right: 0;
    left: 0;
    top: 25vh;
}

.buttons_modal {
    margin-top: 50px;
}

/* Overflow Bar */

/* width */
::-webkit-scrollbar {
    width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px 5px transparent;
    border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #606060;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #909090;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
}

/* Overflow Bar */

/* Responsive */

@media screen and (max-width: 1100px) {
    .header h1 {
        display: none;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    #canvas {
        width: 300px;
        height: 300px;
    }

    .main_container {
        margin-top: 40px;
        width: 700px;
    }
}

@media screen and (max-width: 766px) {
    .container {
        flex-direction: column;
    }

    .main_container {
        width: 550px;
    }

    .letters {
        height: 60px;
        gap: 15px;
    }

    .letter {
        font-size: 40px;
    }

    .letter_dash {
        height: 5px;
        width: 60px;
        border-radius: 25px;
        background-color: #0A3871;
    }

    .show_keyboard {
        display: block;
    }

    #canvas {
        width: 250px;
        height: 250px;
    }

    .endMessage {
        top: 28%;
        font-size: 60px;
    }
}

@media screen and (max-width: 630px) {
    body {
        padding: 10px;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .main_container {
        width: 310px;
    }

    .buttons_container {
        flex-direction: column;
        gap: 0;
        align-items: center;
        margin-bottom: 0;
    }

    #newWord {
        font-size: 18px;
        line-height: 40px;
    }

    .letters {
        height: 50px;
        gap: 10px;
    }

    .letter {
        font-size: 30px;
    }

    .letter_dash {
        height: 5px;
        width: 40px;
        border-radius: 25px;
        background-color: #0A3871;
    }

    #canvas {
        width: 200px;
        height: 200px;
    }

    .warning_error {
        font-size: 12px;
    }

    .endMessage {
        top: 20%;
        font-size: 55px;
        box-shadow: 0 0 0 20px transparent;
    }

    .modal {
        width: 500px;
    }

    .buttons_modal {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    button {
        padding-top: 12px;
        padding-bottom: 12px;
        min-width: 150px;
        font-size: 15px;
        border-radius: 20px;
        border: 1px solid #0A3871;
        cursor: pointer;
        margin: 10px;
    }

    .letters {
        height: 30px;
        gap: 5px;
    }

    .letter {
        font-size: 20px;
    }

    .letter_dash {
        height: 5px;
        width: 20px;
        border-radius: 25px;
        background-color: #0A3871;
    }

    .game_info {
        font-size: 8px;
    }

    .bracket {
        font-size: 22px;
    }

    .endMessage {
        top: 24%;
        font-size: 45px;
        padding: 5px 10px;
        box-shadow: 0 0 0 15px transparent;
    }

    .new_word_added {
        font-size: 15px;
    }

    .new_word_title {
        margin-bottom: 20px;
        color: #0a3871;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
    }

    .modal {
        width: 310px;
        font-size: 20px;
    }
}