*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
    font-family: 'Inter';
    font-weight: 400;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 40px 40px 15px 40px;
    background: #F3F5FC;
}

li {
    list-style-type: none;
}

.header {
    display: flex;
}

.header h1 {
    color: #0A3871;
    margin: 0 auto 0 50px;
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0 auto;
}

.inicio {
    display: flex;
    flex-direction: column;
    display: none;
}

.new_word {
    display: flex;
    flex-direction: column;
    display: none;
}

.new_game {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* display: none; */
}

#canvas {
    width: 500px;
    height: 350px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.wrong_letters_container {
    display: flex;
    gap: 5px;
    align-items: flex-end;
}

.bracket {
    margin-bottom: -5px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ad0d0d;
}

.correct_word {
    margin: 15px 0;
    display: none;
}

.letters {
    display: flex;
    height: 80px;
    gap: 25px;
    align-items: flex-end;
    justify-content: center;
}

.letter_container {
    display: flex;
    flex-direction: column;
}

.letter {
    font-size: 60px;
    text-align: center;
}

.letter_dash {
    margin: 0 auto;
    height: 5px;
    width: 80px;
    border-radius: 25px;
    background-color: #0A3871;
}

#textBox {
    height: 300px;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    color: #0A3871;
    border: none;
    outline: none;
    resize: none;
    flex-grow: 1;
    background: transparent;
    border: 1px solid #d3d3d34d;
}

button {
    padding-top: 21px;
    padding-bottom: 21px;
    min-width: 250px;
    font-size: 18px;
    line-height: 19px;
    border-radius: 20px;
    border: 1px solid #0A3871;
    cursor: pointer;
    margin: 10px;
    transition: 150ms;
    transform: scale(1);
}

button:hover {
    background-color: #0A3871;
    color: white;
    box-shadow: 0 0 5px 1px #0A3871;
    transition: 150ms;
    transform: scale(1.05);
}

.show_keyboard {
    display: none;
}

#showKeyboard {
    background-color: #276cc0;
    color: white;
    border: 1px solid #606060;
    padding: 8px;
    min-width: 30px;
}

.buttons_container {
    display: flex;
    gap: 30px;
    margin-top: 15px;
    margin-bottom: 30px;
    justify-content: center;
}

.buttons_section {
    margin-top: 25px;
}

.warning_container {
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer_hr {
    max-width: 1400px;
    margin: 15px auto 0;
    border-radius: 50%;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px auto 0;
    color: #7a7e81;
    font-size: 16px;
}

.footer {
    margin-top: 25px;
}

.links {
    display: flex;
    list-style: none;
    gap: 15px;
}

/* Overflow Bar */

/* width */
::-webkit-scrollbar {
    width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px 5px transparent;
    border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #606060;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #909090;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
}

/* Overflow Bar */

/* Responsive */

@media screen and (max-width: 1100px) {
    .header h1 {
        display: none;
    }

    .container {
        flex-direction: column;
    }

    .main_container {
        margin-top: 40px;
        width: 700px;
    }

    #canvas {
        width: 400px;
        height: 250px;
    }
}

@media screen and (max-width: 766px) {
    .container {
        flex-direction: column;
    }

    .main_container {
        width: 550px;
    }

    .letters {
        height: 60px;
        gap: 15px;
    }

    .letter {
        font-size: 40px;
    }

    .letter_dash {
        height: 5px;
        width: 60px;
        border-radius: 25px;
        background-color: #0A3871;
    }

    #canvas {
        width: 350px;
        height: 200px;
    }

    .show_keyboard {
        display: block;
    }
}

@media screen and (max-width: 630px) {
    body {
        padding: 10px;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .main_container {
        width: 310px;
    }

    .buttons_container {
        flex-direction: column;
        gap: 0;
        align-items: center;
    }

    #textBox {
        font-size: 20px;
        line-height: 28px;
    }

    .letters {
        height: 50px;
        gap: 10px;
    }

    .letter {
        font-size: 30px;
    }

    .letter_dash {
        height: 5px;
        width: 40px;
        border-radius: 25px;
        background-color: #0A3871;
    }

    #canvas {
        width: 300px;
        height: 150px;
    }
}

@media screen and (max-width: 500px) {
    button {
        padding-top: 12px;
        padding-bottom: 12px;
        min-width: 150px;
        font-size: 15px;
        border-radius: 20px;
        border: 1px solid #0A3871;
        cursor: pointer;
        margin: 10px;
    }

    .letters {
        height: 50px;
        gap: 5px;
    }

    .letter {
        font-size: 20px;
    }

    .letter_dash {
        height: 5px;
        width: 20px;
        border-radius: 25px;
        background-color: #0A3871;
    }

    .game_info {
        align-self: flex-start;
        font-size: 8px;
    }

    .wrong_letters_container {
        gap: 0;
    }
}


/* Responsive */